@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600,700");
html { 
	background: url(Images/backgroundImage2.png) fixed; 
}

:root {
	--background-color: rgba(252, 207, 139, 1);
	--text-color: rgba(8, 8, 8, 1);
	--text-back-color-a: rgba(212, 98, 52, 0.8);
	--text-back-color: rgba(212, 98, 52, 1);
}

.nav {
	background-color: var(--text-back-color-a);
	overflow: hidden;
	margin: 0;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
}

.nav a {
	float: left;
	color: var(--text-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font: 15px Montserrat
}

.nav a:hover {
	background-color: var(--text-back-color);
	transition-duration: 0.4s;
}

.nav a.active {
	background-color: var(--text-back-color);
	color: var(--text-color);
}

#main-image {
	text-align: center;
	margin: 50px auto 0 auto;
}

#page-wrap {
	width: 60%;
	margin: 50px auto;
	padding: 20px;
	background: var(--text-back-color-a); 
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	color: var(--text-color);
}

.container {
	padding: 5px;
}

div.scrollmenu {
	white-space: nowrap;
    overflow:auto;
	background-color: var(--text-back-color);
	border: 1px solid var(--text-color);
}

div.video {
	margin: 15px auto;
	text-align: center
}

div.gallery {
	display: inline-block;
	margin: 5px;
	border: 1px solid var(--text-color);
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
	font: 15px Montserrat
	color: var(--text-color);
}

h1 {
	font: 50px Montserrat;
	font-weight: bold;
	color: var(--text-color);
	text-shadow: -2px -2px 0 var(--text-back-color), 2px -2px 0 var(--text-back-color), -2px 2px 0 var(--text-back-color), 2px 2px 0 var(--text-back-color);
}

h2 {
	font: 20px Montserrat;
	color: var(--text-color);
}

input {
	font: 20px Montserrat;
}

p {
	font: 15px/2 Montserrat, Georgia, Serif;
	margin: 0 0 30px 0;
	text-indent: 40px;
	color: var(--text-color);
}

.button {
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font: 20px Montserrat;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0); 
	color: white; 
	border: 2px solid var(--text-back-color);
}

.button:hover {
	background-color: var(--text-back-color);
	color: white;
}