@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600,700");
html { 
  background: url(Images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}